*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* background */
  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222E;
  --bg-brand: #C58DE7;
  --bg-gray: #3D3D3D;

  /* content */
  --content-primary: #fff;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* accent */
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  /* gradient */
  --gradient-brorder: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-bg: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);

  /* padding */
  --px-lg: 2.1875rem;

  /* fonts */
  --fw-xl:800;
  --fw-lg:700;
  --fw-mid:400;

  --fs-mid:1rem;
  --fs-smid:1.25rem;
  --fs-sm:.875rem;
  --fs-xs:.75rem;
  --fs-xxl:4.5rem;
  --fs-xl:2.5rem;
  --fs-lg:2rem;

  --ff-sora:"Sora", sans-serif;
  --ff-mono:"Roboto Mono", monospace;
  --ff-rf:"Roboto Flex", sans-serif ;
}

html{
  background-image: url(../assets/icon/Linha.svg);
  background-color: var(--bg-primary);
  background-position: center;
  background-size: 200%;
  color: var(--content-primary);
}

body{
  display: grid;
}




@media (width >= 80rem){
  :root{
    --px-lg: 8.3rem;
  }

  html{
    background-size: cover;
  }

  body{
    grid-template-areas:
    "header main"
    "footer main";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & header{
      grid-area: header;
    }
    & main{
      grid-area: main;
    }
    & footer{
      grid-area: footer;
    }
  }


}