*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* background */
  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222E;
  --bg-brand: #C58DE7;
  --bg-gray: #3D3D3D;

  /* padding */
  --px-lg: 2.1875rem;
}

html{
  background-image: url(../assets/icon/Linha.svg);
  background-color: var(--bg-primary);
  background-position: center;
  background-size: 200%;
  /* color: ; */
}

body{
  display: grid;
}




@media (width >= 80rem){
  :root{
    --px-lg: 8.3rem;
  }

  html{
    background-size: cover;
  }

  body{
    grid-template-areas:
    "header main"
    "footer main";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & header{
      grid-area: header;
    }
    & main{
      grid-area: main;
    }
    & footer{
      grid-area: footer;
    }
  }


}