header{
  & #title{
    & span{
      font: var(--fw-lg) var(--fs-mid)/1.5 var(--ff-rf);
      text-transform: uppercase;
      background: var(--gradient-content);
      -webkit-background-clip: text; /* necessário para funcionar no Chrome/Safari */
      -webkit-text-fill-color: transparent; /* oculta a cor original da fonte */
    }
    & h1{
      margin-top: .5rem;
      font: var(--fw-xl) var(--fs-xl)/1.3 var(--ff-sora);
      text-transform: uppercase;
      letter-spacing: -1px;
    }
  }
}

@media (width >= 80em){

  header{
    & #title{
      & h1{
        margin-top: .75rem;
        font-size: var(--fs-xxl);
      }
    }
  }
}