@import url(./sections/index.css);

main{
  margin-block: 2.625rem 5rem;
}

.header{
   & h2{
      font: var(--fw-lg) var(--fs-smid)/1.5 var(--ff-rf);
      text-transform: uppercase;
    }
    & p{
      font: var(--fw-mid) var(--fs-sm)/1.5 var(--ff-rf);
      color: var(--content-tertiary);
    }
}

@media (width >= 80em){
  main{
    margin-block: 0;
    padding-block: 2.125rem;
  }
}