.container{
  --max-width: 24em;
  width: min(var(--max-width), 100% - var(--px-lg)*2);
  margin-inline: auto;
  margin-block: 2.75rem;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

@media (width >= 80em){
    .container{
    --max-width: 80em;
    margin-block: 4.75rem;
  }

}